name: .NET

on:
  push:
    tags:
      - "v*.*.*"
      
jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 8.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Publish 
      run: dotnet publish --configuration Release -r win-x64 --self-contained true -p:PublishSingleFile=true -p:IncludeAllContentForSelfExtract=true
    - name: Easy Zip Files 
      uses: vimtor/action-zip@v1
      with:
        files: bin/Release/net8.0/win-x64/publish/
        dest:  'Idol-Village-win-${{ github.ref_name }}.zip'
    - name: GH Release
      uses: softprops/action-gh-release@v0.1.14
      with:
        files: 'Idol-Village-win-${{ github.ref_name }}*'
        
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v3.1.3
      with:
        name: 'Idol-Village-win-${{ github.ref_name }}.zip'
        path: 'Idol-Village-win-${{ github.ref_name }}.zip'        
        retention-days: 1

   


        
#   itch:
#     runs-on: ubuntu-latest    
#     environment: itch
#     needs: build

#     steps:
#     - name: Download a Build Artifact
#       uses: actions/download-artifact@v2.1.1
#       with:
#         # Artifact name
#         name: 'Idol-Village-win-${{ github.ref_name }}.zip'
#         path: 'Idol-Village-win-${{ github.ref_name }}.zip'
#     - name: Itch.io - Publish
#       uses: KikimoraGames/itch-publish@v0.0.3
#       with:
#           butlerApiKey: ${{ secrets.BUTLER_CREDENTIALS }}
#           gameData: 'Idol-Village-win-${{ github.ref_name }}.zip'
#           itchUsername: nhawdge
#           itchGameId: Idol-Village
#           buildChannel: windows
#           buildNumber: ${{ github.ref_name }}    
    
